In [1]:
from sqlalchemy import create_engine
import os
from langchain.chat_models import init_chat_model
from dotenv import load_dotenv
from urllib.parse import quote_plus

load_dotenv()
os.environ["GOOGLE_API_KEY"] = os.getenv("gemini_api")
model = init_chat_model(model="google_genai:gemini-2.0-flash", temperature=0)

server = os.getenv("SQLSERVER")
database = os.getenv("DATABASE")
username = os.getenv("SERVER_USERNAME")
password = os.getenv("SERVER_PASSWORD")

params = quote_plus(
    f"DRIVER=ODBC Driver 17 for SQL Server;"
    f"SERVER={server};"
    f"DATABASE={database};"
    f"UID={username};"
    f"PWD={password};"
)
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

In [2]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_community.tools.sql_database.prompt import QUERY_CHECKER
db = SQLDatabase(engine)

In [3]:
print(QUERY_CHECKER)

{query}
Double check the {dialect} query above for common mistakes, including:
- Using NOT IN with NULL values
- Using UNION when UNION ALL should have been used
- Using BETWEEN for exclusive ranges
- Data type mismatch in predicates
- Properly quoting identifiers
- Using the correct number of arguments for functions
- Casting to the correct data type
- Using the proper columns for joins

If there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.

Output the final SQL query only.

SQL Query:

In [4]:
from langchain.tools import tool
from pydantic import BaseModel,Field
from langchain.messages import HumanMessage
import time
from langchain.agents import create_agent

class StructuredQuery(BaseModel):
    """Structured Query format extracted from the final query"""
    time.sleep(5)
    query: str = Field(description="Contains the MS SQL Query") 

@tool
def get_table_names(question: str) -> str:
    """Input is question string, Output is a comma-separated list of tables in the database."""
    time.sleep(5)
    return db.get_usable_table_names()

@tool
def get_schema(table_names: list[str]) -> str:
    """Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling get_table_names first! Example Input: table1, table2, table3"""
    time.sleep(5)
    return db.get_table_info_no_throw(table_names)


@tool
def query_checker(query: str) -> str:
    """Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with run_sql_query!"""
    time.sleep(5)
    formatted_prompt = QUERY_CHECKER.format(query=query, dialect=db.dialect)
    response = model.invoke([HumanMessage(content=formatted_prompt)])
    return response.content

@tool
def run_sql_query(correct_query) -> str:
    """Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use get_schema to query the correct table fields."""
    time.sleep(5)
    return db.run_no_throw(correct_query)

system_prompt = """You are an AI agent designed to interact with a SQL database. 
Your task is to answer the userâ€™s question by generating a syntactically correct SQL query in {dialect}. 
Begin by discovering the database structure: always use get_table_names() to list all tables,
 and then use get_schema(table_name) to examine the columns and relationships of relevant tables.
   Do not guess any table or column names. Next, carefully generate the SQL query, considering filters,
     joins, and aggregations as needed. If the user does not specify a limit, restrict the query to {top_k} rows. 
     Before submitting, you must verify your work: first use query_checker(query) to check syntax, 
     and then strictly use run_sql_query(query) to ensure the query executes against the database without error. 
     If run_sql_query returns an error, you must rewrite and re-test the query. 
     Once verified, submit only the final executable SQL query as your answer,
       not the query results.""".format(dialect=db.dialect, top_k=5)

agent = create_agent(model, tools=[get_table_names, get_schema, query_checker,run_sql_query],
                     system_prompt=system_prompt,response_format=StructuredQuery)

question = """Analyze the sales performance of our physical retail footprint by calculating total 
revenue per offline store. Please rank the stores from highest to lowest performing locations to identify our 
top contributors and underperforming branches."""

for chunk in agent.stream(
    {"messages": [{"role": "user", "content": question}]},
     
    stream_mode="values"
):
    message_object = chunk["messages"][-1]
    message_object.pretty_print()
    print("-" * 20)

================================ Human Message =================================

Analyze the sales performance of our physical retail footprint by calculating total
revenue per offline store. Please rank the stores from highest to lowest performing locations to identify our
top contributors and underperforming branches.
--------------------
================================== Ai Message ==================================
Tool Calls:
  get_table_names (dd176bd2-e013-4f3f-8eda-5c7745f4bf6b)
 Call ID: dd176bd2-e013-4f3f-8eda-5c7745f4bf6b
  Args:
    question: tables with store information and sales data
--------------------
================================= Tool Message =================================
Name: get_table_names

["campaign", "customer", "interaction", "transaction"]
--------------------
================================== Ai Message ==================================
Tool Calls:
  get_schema (212fe4cc-c96c-439f-a0da-29d565ae2ade)
 Call ID: 212fe4cc-c96c-439f-a0da-29d565ae2ade
  Args:
    table_names: ['transaction']
--------------------
================================= Tool Message =================================
Name: get_schema


CREATE TABLE [transaction] (
	[index] BIGINT NULL,
	transaction_id VARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	customer_id VARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	product_name VARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	product_category VARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	quantity BIGINT NULL,
	price FLOAT(53) NULL,
	transaction_date DATETIME NULL,
	store_location VARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	payment_method VARCHAR(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)

/*
3 rows from transaction table:
index	transaction_id	customer_id	product_name	product_category	quantity	price	transaction_date	store_location	payment_method
0	53e3d9f5-6231-46de-aa39-e5f8eaae2eee	727839b2-f084-4e94-94d8-ae59cc8e4b84	Ring Doorbell	Smart Home Devices	1	140.07	2020-12-06 00:00:00	Houston, TX	Credit Card
1	ae6e6edf-f2fe-45c8-989c-c01e77eade0c	c4ac244c-989e-46fb-b243-91dd1d5cf739	Oculus Quest	Gaming Consoles	1	339.57	2021-04-26 00:00:00	Online	Gift Card
2	ba85240a-2b5d-4987-ac0a-efb6a4a57d6d	d296bf0d-92bb-4670-a578-2fd3553cf7c8	Samsung Galaxy S22	Smartphones	2	1335.88	2021-10-28 00:00:00	Online	PayPal
*/
--------------------
================================== Ai Message ==================================
Tool Calls:
  query_checker (8c17da96-12b6-4892-bd2e-cf08c0be799b)
 Call ID: 8c17da96-12b6-4892-bd2e-cf08c0be799b
  Args:
    query: SELECT store_location, SUM(price * quantity) AS total_revenue FROM transaction GROUP BY store_location ORDER BY total_revenue DESC LIMIT 5
--------------------
================================= Tool Message =================================
Name: query_checker

```sql
SELECT store_location, SUM(price * quantity) AS total_revenue FROM transaction GROUP BY store_location ORDER BY total_revenue DESC LIMIT 5
```
--------------------
================================== Ai Message ==================================
Tool Calls:
  run_sql_query (53d0aa61-a4d9-4e5d-84d9-b25e96e8d8ee)
 Call ID: 53d0aa61-a4d9-4e5d-84d9-b25e96e8d8ee
  Args:
    correct_query: SELECT store_location, SUM(price * quantity) AS total_revenue FROM transaction GROUP BY store_location ORDER BY total_revenue DESC LIMIT 5
--------------------
================================= Tool Message =================================
Name: run_sql_query

Error: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'transaction'. (156) (SQLExecDirectW)")
[SQL: SELECT store_location, SUM(price * quantity) AS total_revenue FROM transaction GROUP BY store_location ORDER BY total_revenue DESC LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)
--------------------
================================== Ai Message ==================================
Tool Calls:
  query_checker (c6dee123-8e22-47ac-adaf-e745896e223f)
 Call ID: c6dee123-8e22-47ac-adaf-e745896e223f
  Args:
    query: SELECT store_location, SUM(price * quantity) AS total_revenue FROM [transaction] GROUP BY store_location ORDER BY total_revenue DESC LIMIT 5
--------------------
================================= Tool Message =================================
Name: query_checker

```sql
SELECT store_location, SUM(price * quantity) AS total_revenue FROM [transaction] GROUP BY store_location ORDER BY total_revenue DESC LIMIT 5
```
--------------------
================================== Ai Message ==================================
Tool Calls:
  run_sql_query (36085b3c-3cee-4a61-9556-4e671f969ad2)
 Call ID: 36085b3c-3cee-4a61-9556-4e671f969ad2
  Args:
    correct_query: SELECT store_location, SUM(price * quantity) AS total_revenue FROM [transaction] GROUP BY store_location ORDER BY total_revenue DESC LIMIT 5
--------------------
================================= Tool Message =================================
Name: run_sql_query

Error: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near 'LIMIT'. (102) (SQLExecDirectW)")
[SQL: SELECT store_location, SUM(price * quantity) AS total_revenue FROM [transaction] GROUP BY store_location ORDER BY total_revenue DESC LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/f405)
--------------------
================================== Ai Message ==================================
Tool Calls:
  query_checker (b63dc567-37f1-42fe-841f-5bfad79d00fd)
 Call ID: b63dc567-37f1-42fe-841f-5bfad79d00fd
  Args:
    query: SELECT TOP 5 store_location, SUM(price * quantity) AS total_revenue FROM [transaction] GROUP BY store_location ORDER BY total_revenue DESC
--------------------
================================= Tool Message =================================
Name: query_checker

```sql
SELECT TOP 5 store_location, SUM(price * quantity) AS total_revenue FROM [transaction] GROUP BY store_location ORDER BY total_revenue DESC
```
--------------------
================================== Ai Message ==================================
Tool Calls:
  run_sql_query (9191c63c-804e-4d81-b982-6359f30bcfac)
 Call ID: 9191c63c-804e-4d81-b982-6359f30bcfac
  Args:
    correct_query: SELECT TOP 5 store_location, SUM(price * quantity) AS total_revenue FROM [transaction] GROUP BY store_location ORDER BY total_revenue DESC
--------------------
================================= Tool Message =================================
Name: run_sql_query

[('Online', 15173013.83000004), ('Houston, TX', 1448425.5899999996), ('San Francisco, CA', 1400721.6100000015), ('Chicago, IL', 1398779.1099999982), ('Boston, MA', 1373718.059999998)]
--------------------
================================= Tool Message =================================
Name: StructuredQuery

Returning structured response: query='SELECT TOP 5 store_location, SUM(price * quantity) AS total_revenue FROM [transaction] GROUP BY store_location ORDER BY total_revenue DESC'
--------------------